<div>
  <div class="submit-form">
    <div *ngIf="!submitted">
      <h3>Dados do Cliente</h3>
      <div class="row">
        <div class="form-group col-sm">
          <label for="nome">Nome</label>
          <input type="text" class="form-control" id="nome" required [(ngModel)]="cliente.nome" name="nome" />
        </div>

        <div class="form-group col-sm">
          <label for="tipo">Tipo</label>
          <select class="form-control" id="tipo" [(ngModel)]="cliente.tipo" name="tipo">
            <option value="PESSOA_FISICA">Pessoa Física</option>
            <option value="PESSOA_JURIDICA">Pessoa Jurídica</option>
          </select>
        </div>

      </div>



      <div class="row">
      <div class="form-group col-sm">
        <label for="cpfCnpj">CPF/CNPJ</label>
        <input class="form-control" id="cpfCnpj" required [(ngModel)]="cliente.cpfCnpj" name="cpfCnpj" />
      </div>

      <div class="form-group col-sm">
        <label for="dataCadastro">Data de Cadastro</label>
        <input type="date" class="form-control" id="dataCadastro" readonly [(ngModel)]="cliente.dataCadastro"
          name="dataCadastro" />
      </div>

      <div class="form-group col-sm-2">
        <label for="ativo">Ativo</label>
        <input type="checkbox" class="form-control" id="ativo" [(ngModel)]="cliente.ativo" name="ativo" />
      </div>
    </div>

      <h4>Telefones</h4>
      <div class="form-group">
        <button type="button" class="btn btn-info" (click)="addTelefone()">Adicionar</button>
      </div>

      <div *ngFor="let telefone of cliente.telefones" class="row">

        <div class="form-group col-sm">
          <label for="ddd">DDD</label>
          <input type="text" class="form-control" id="ddd" [(ngModel)]="telefone.ddd" name="ddd" />
        </div>

        <div class="form-group col-sm">
          <label for="numero">Número</label>
          <input type="text" class="form-control" id="numero" [(ngModel)]="telefone.numero" name="numero" />
        </div>

        <div class="form-group col-sm">
          <button type="button"class="btn btn-danger mt-33" (click)="removeTelefone(telefone)">X</button>
        </div>

      </div>

      <a [routerLink]="'/clientes/'" class="btn btn-alert btn-sm">Voltar</a>
      <button (click)="save()" class="btn btn-success">Salvar</button>
    </div>

  </div>
</div>